@model LoginVM

<link rel="stylesheet" href="~/css/site.css" />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible" role="alert" asp-validation-summary="All">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div id="loginLight">
    <div id="loginCard" class="card">
        <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                    <span class="app-brand-logo demo">
                        <a><img src="~/bg/planets.png" /></a>
                    </span>
                    <span class="app-brand-text text-body fw-bolder">Galaxy HR System</span>
                </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Welcome 👋</h4>
            <p class="mb-4">Please sign-in to your account and start the work</p>

            

            <form id="formAuthentication" class="mb-3" asp-action="Login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input asp-for="EmailAddress" type="text"
                           class="form-control"
                           id="email"
                           name="EmailAddress"
                           placeholder="Enter your email"
                           autofocus />
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="d-flex">
                        <label class="form-label" for="password">
                            Password  <a class="mx-1"
                                         data-bs-toggle="tooltip"
                                         data-bs-offset="0,4"
                                         data-bs-html="true"
                                         title="<i class='bx bx-lock-alt' style='color:#faf7f7'></i> <span>The password must contain at least one uppercase letter, one lowercase letter, one number and one special character.</span>">
                                <i class='bx bx-help-circle'></i>
                            </a>
                        </label>

                    </div>
                    <div class="input-group input-group-merge">
                        <input asp-for="Password" type="password"
                               id="password"
                               class="form-control"
                               name="password"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="password" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                </div>
            </form>

        </div>
    </div>
</div>


@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type="text/javascript">
        
    var strValue = "@((string)ViewBag.mssg)";
    if (strValue !== null && strValue !== '') {
        swal("", strValue, "success");
    }
</script>*@
