@model UpdateSiteManagerVM

<form asp-action="UpdateSiteManager" id="formAccountSettings" method="post" enctype="multipart/form-data">
    <div class="card mb-4 mt-4 mx-4">
        <h5 class="card-header">Profile Details</h5>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" asp-validation-summary="All">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img src="@Model.PhotoUrl"
                     alt="user-avatar"
                     class="d-block rounded"
                     height="100"
                     width="100"
                     id="uploadedAvatar" />
                <div class="button-wrapper">
                    <label asp-for="PhotoUrl" for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        User Image</label>
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                         <input  asp-for="PhotoUrl" type="file" name="files"
                               id="upload"
                               class="account-file-input"
                               hidden
                           accept="image/png, image/jpeg" />


                    <p class="text-muted mb-0">Allowed JPG,JPEG or PNG. Max size of 4 MB</p>
                </div>
                
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label asp-for="PhoneNumber" class="form-label" for="phoneNumber">Phone Number</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">TR (+90)</span>
                        <input asp-for="PhoneNumber" type="text"
                               id="phoneNumber"
                               name="phoneNumber"
                               class="form-control"
                               placeholder="Enter your phone Number" />
                        
                    </div>
                    
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="Address" for="address" class="form-label">Address</label>
                    <input asp-for="Address" type="text" class="form-control" id="address" name="address" placeholder="Address" />
                    
                </div>
                
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save changes</button>
                <a asp-action="Index" asp-controller="SiteManagement" asp-area="SiteManagement" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#upload').change(function () {
                var file = $(this)[0].files[0];
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#uploadedAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(file);
            });
        });
    </script>
}
